{% extends 'restasysapp/base.html' %}

{% block content %}

      <div class="pedido">
        </a><p>Mesa: {{pedido.mesa_id}}</p>
        <p>Prato: {{pedido.pratos_id}}</p>
        <p>Valor total: {{pedido.valor_total}}</p>
        <a class="btn btn-default" href="{% url 'pedido_editar' pk=pedido.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'fechar_pedido' %}"><span class="glyphicon glyphicon-ok"></span></a>
        <hr>
      </div>

{% endblock content %}
